<!DOCTYPE html>
<html>
  <head>
    <title>Buy a Home, Sell a Home</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="container">
      <form action='login' method'post'>
        <p><label for="email">Email</label>
        <input type="text" id="email" name="email"></p>

        <p><label for="confirmEmail">Confirm Email</label>
        <input type="text" id="confirmEmail" name="confirmEmail"></p>

        <p><label for="password">Password</label>
        <input type="text" id="password" name="password"></p>

        <p><label for="confirmPassword">Confirm Password</label>
        <input type="text" id="confirmPassword" name="confirmPassword"></p>
        <p><input type="submit" value='Submit'>
      </form>

    </div>
  </body>